body {
    overflow-x: hidden;
    overflow-y: hidden;
    background: url('../img/donut-tile.png') repeat;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
}

@media only screen and (max-width: 800px) {
    body {
        transform: scale(.75);
        overflow-y: scroll;
        max-width: 100vw;
    }
}