h1 {
    @extend .heading;
    text-align: center;
    margin : {
        top: 0;
        bottom: -10px;
    }
    color: hotpink;
    font-size: 2.5em;
    background-color: #fff;
    border-radius: 50%;
    padding: 20px 10px;
    width: 250px;
    border: solid 5px hotpink;
}

#gameboard-wrap {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

#time-and-score {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
}

#score-display,
#timer-display,
#highscore-display {
    @extend .scorebox;
}

#highscore-display {
    margin-top: 15px;
    h2 {
        color: gold;
    }
}