.slideout {
    animation: slide-down .5s ease-out;
    top: 150%;
}

.slidein {
    animation: slide-up .25s ease-in;
    top: 50%;
}

@keyframes slide-down {
    from {
      top: 50%;
      opacity: 1;
    }
  
    to {
      top: 150%;
      opacity: 0;
    }
  }

  @keyframes slide-up {
    from {
      top: 150%;
      opacity: 0;
    }
  
    to {
      top: 50%;
      opacity: 1;
    }
  }

  @keyframes flash {
      from {
          box-shadow: 0px 0px 2px 5px gold;
      }
      to {
          box-shadow: 0px 0px 4px 12px yellow;
      }
  }

  @keyframes flash-hint {
    from {
        box-shadow: 0px 0px 10px 3px #ffe8f4;
        transform: rotate(0) scale(1);
    }
    50% {
        box-shadow: 0px 0px 10px 10px gold;
        transform: rotate(179deg) scale(1.1);
    }
    to{
        box-shadow: 0px 0px 10px 3px #ffe8f4;
        transform: rotate(359deg) scale(1);
    }

}