.hide {
    display: none;
}

.start {
    top: 50%;
}

.slideout {
    animation: slide-down .5s ease-out;
    top: 150%;
}

.slidein {
    animation: slide-up .25s ease-in;
    top: 50%;
}

@keyframes slide-down {
    from {
      top: 50%;
      opacity: 1;
    }
  
    to {
      top: 150%;
      opacity: 0;
    }
  }

  @keyframes slide-up {
    from {
      top: 150%;
      opacity: 0;
    }
  
    to {
      top: 50%;
      opacity: 1;
    }
  }