.heading {
    font-family: "Cherry Swash", cursive;
}

.scores {
    font-family: "Fredoka One", sans-serif;
}

.scorebox {
    width: 200px;
    background-color:#fff;;
    border:solid 5px hotpink;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 15px;
    h3 {
        font: {
            family: "Cherry Swash", cursive;
            size: 1.5em;
        }
        width: 100%;
        margin: 0;
    }
    h2 {
        font : {
            family: "Fredoka One", sans-serif;
            size: 2em;
        }
        margin: 0;
    }
}

.hide {
    display: none;
}

.start {
    top: 50%;
}

.slideout {
    animation: slide-down .5s ease-out;
    top: 150%;
}

.slidein {
    animation: slide-up .25s ease-in;
    top: 50%;
}

@keyframes slide-down {
    from {
      top: 50%;
      opacity: 1;
    }
  
    to {
      top: 150%;
      opacity: 0;
    }
  }

  @keyframes slide-up {
    from {
      top: 150%;
      opacity: 0;
    }
  
    to {
      top: 50%;
      opacity: 1;
    }
  }